@charset "UTF-8";
/* Couleurs*/
/* Polices */
/* Couleurs*/
/* Polices */
@keyframes menus {
  0% {
    transform: translateY(99999px);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.anim-1 {
  animation: menus 1s;
  animation-fill-mode: backwards;
}

.anim-2 {
  animation: menus 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.anim-3 {
  animation: menus 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes validation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cercle-validé {
  animation: validation 400ms linear;
}

/*Loader*/
@keyframes loader {
  0% {
    visibility: visible;
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: rotate(361deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-fond {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.chargement {
  border-top: 10px solid #9356DC;
  border-right: 10px solid #FF79DA;
  border-bottom: 10px solid #9356DC;
  border-left: 10px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  visibility: hidden;
  animation: loader 2.5s linear forwards;
  background-color: #99E2D0;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-iteration-count: 1;
}

.loader {
  background-color: #99E2D0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  animation: loader-fond 2.5s linear forwards;
}

.logo-header {
  width: 200px;
  padding: 15px;
  display: block;
  margin: auto;
}

/* Couleurs*/
/* Polices */
header {
  position: relative;
}
header .fa-solid {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: large;
  color: black;
}
header .fa-solid:hover {
  cursor: pointer;
}
@media screen and (min-width: 993px) {
  header .fa-solid {
    display: none;
  }
}
header p {
  display: none;
}
@media screen and (min-width: 993px) {
  header p {
    display: block;
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: large;
    color: black;
    cursor: pointer;
    margin-left: 12.5%;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
  }
  header p:hover {
    color: #9356DC;
  }
}

/* Couleurs*/
/* Polices */
footer {
  background: #424141;
  color: white;
}
footer .logo-footer {
  filter: invert(100%);
  width: 100px;
  padding: 20px 30px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  padding-left: 5px;
}
footer li {
  padding: 5px;
}
footer ul {
  list-style-type: none;
  padding: 0px 0px 30px 20px;
}
footer .logos-footer {
  padding-right: 15px;
}
footer .logos-footer-2 {
  padding-right: 8px;
}

/* Couleurs*/
/* Polices */
* {
  margin: 0px;
}

body {
  font-family: "Roboto", arial, sans-serif;
}

input::placeholder {
  color: #424141;
}

.section-1 {
  background-color: #eaeaea;
  padding: 20px;
}
.section-1 .recherche-ville {
  display: flex;
  justify-content: center;
}
.section-1 i {
  padding-right: 10px;
  color: #424141;
}
.section-1 #ville {
  border: none;
  background-color: #eaeaea;
  font-size: medium;
  font-weight: bold;
  color: black;
  width: 140px;
}

.section-2 {
  background-color: #f6f6f6;
  padding: 30px;
  text-align: center;
}
.section-2 p {
  padding: 10px;
}
.section-2 button {
  margin-top: 15px;
  padding: 15px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  font-weight: 700;
  border: none;
  box-shadow: 5px 5px 10px #d3d2d2;
}
.section-2 button:hover {
  opacity: 0.8;
  box-shadow: 8px 8px 15px grey;
  cursor: pointer;
}

.section-3 {
  padding: 40px 20px;
}
.section-3 h2 {
  padding-bottom: 15px;
}
@media screen and (min-width: 769px) {
  .section-3 h2 {
    text-align: center;
  }
}
.section-3 div {
  margin: 20px;
  padding: 20px 0px;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 5px 7px 10px #eaeaea;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .section-3 div {
    width: 50%;
    margin-left: 25%;
  }
}
.section-3 div .numero {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 3px 8px;
  position: relative;
  right: 13px;
}
.section-3 div .section-3-logo {
  margin-right: 20px;
  color: gray;
}
.section-3 div:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.section-3 div:hover .section-3-logo {
  color: #9356DC;
}

.section-4 {
  padding: 40px 20px;
  background-color: #f6f6f6;
  height: 50%;
}
.section-4 a {
  text-decoration: none;
  color: black;
}
.section-4 h2 {
  padding-bottom: 20px;
}
@media screen and (min-width: 993px) {
  .section-4 h2 {
    text-align: center;
  }
}
.section-4 article {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #eaeaea;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  height: 275px;
  position: relative;
}
@media screen and (min-width: 993px) {
  .section-4 article {
    width: 50%;
    text-align: center;
    margin-left: 25%;
  }
}
.section-4 article img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.section-4 article .cartes-texte {
  margin-left: 10px;
  padding-top: 10px;
  position: relative;
}
.section-4 article h3 {
  padding-bottom: 5px;
}
.section-4 article i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: x-large;
}
.section-4 article .coeur-couleur {
  opacity: 0%;
  transform: scale(0.2);
  transition: transform 500ms;
}
.section-4 article .coeur-couleur:hover {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 100%;
  transform: scale(1.1);
}
.section-4 article .nouveau-restaurant {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #99E2D0;
  padding: 5px 15px;
  color: #0a8d6d;
  font-weight: bold;
}

/* Couleurs*/
/* Polices */
.image-haut-restos {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.section-menus {
  background-color: #eaeaea;
  top: -50px;
  margin-bottom: -50px;
  position: relative;
  border-radius: 40px 40px 0px 0px;
}
@media screen and (min-width: 993px) {
  .section-menus {
    width: 75%;
    margin-left: 12.5%;
  }
}
.section-menus h2 {
  font-size: 1.7em;
  padding: 20px 0px 0px 20px;
  font-family: "Shrikhand", arial, sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 769px) {
  .section-menus h2 {
    text-align: center;
  }
}
.section-menus .coeur-titre-menus {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: x-large;
}
.section-menus .coeur-couleur {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: x-large;
  opacity: 0%;
  transform: scale(0.2);
  transition: transform 500ms;
}
.section-menus .coeur-couleur:hover {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 100%;
  transform: scale(1.1);
}
.section-menus .menus a {
  text-decoration: none;
  color: black;
}
.section-menus .menus h3 {
  padding: 30px 0 15px 15px;
  font-weight: 400;
}
.section-menus .menus h3 .trait-sous-titre {
  height: 3.5px;
  width: 45px;
  margin-top: 5px;
  background-color: #99E2D0;
}
.section-menus .menus h4 {
  padding-bottom: 5px;
}
.section-menus .menus a {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-menus .menus .texte-menus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 10px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-menus .menus .texte-menus:hover .validé {
  display: block;
  background-color: #99E2D0;
  padding: 15px 25px 15px 25px;
  margin: -15px -15px -15px 0;
  color: white;
  font-size: x-large;
  display: flex;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}
.section-menus .menus .texte-menus .accompagnement {
  display: flex;
  justify-content: space-between;
}
.section-menus .menus .texte-menus .accompagnement strong {
  padding-right: 25px;
  font-weight: 600;
}
.section-menus .menus .texte-menus .validé {
  display: none;
}
.section-menus .bouton-menus {
  text-align: center;
}
.section-menus .menus-bouton {
  margin: 30px;
  padding: 15px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  font-weight: 700;
  border: none;
  box-shadow: 5px 5px 10px #d3d2d2;
}
.section-menus .menus-bouton:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 8px 8px 15px grey;
}

/*# sourceMappingURL=main.css.map */
