@import"../base/typographie";


/* Menus arrivée en différée*/
@keyframes menus {
    0% {
        transform: translateY(99999px);
        opacity: 0;
    }
    25%{

        opacity: 0.2;
    }

    50%{

        opacity: 0.5;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }

}

.anim-1{
    animation: menus 2s;
    animation-fill-mode: backwards;
}

.anim-2{
    animation: menus 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.anim-3{
    animation: menus 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}



/* Coche verte*/ 

@keyframes validation{
    
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.cercle-validé{
    animation: validation 400ms linear;
}

@keyframes slide{
    0% {
        width:0%
        
    }
    3%{
        width: 2px;
    }
    
    50%{
        width:12.5px
    }

    100%{
        width:25px
        
        
    }
}

.validé{
    animation: slide 400ms ease-out;
}





/*Loader*/

@keyframes loader{
    0%{
        visibility: visible;
        transform: rotate(0deg);
        opacity: 1;

    }

    80%{
        transform: rotate(361deg);
        opacity: 1;
        
    }
    
    100%{
        opacity: 0;
        
    }

}
@keyframes loader-fond{
    
    0%{
        visibility: visible;
        opacity: 1;
        
        
    }

    80%{
        
        opacity: 1;
        
    }
    
    100%{
        opacity: 0;
        
    }

}

.chargement{
    border-top: 10px solid $couleur-primaire; 
    border-right: 10px solid $couleur-secondaire;
    border-bottom: 10px solid $couleur-primaire; 
    border-left: 10px solid $couleur-secondaire;
    border-radius: 50%;
    width: 50px;
    height:50px;
    visibility: hidden;
    animation: loader 2.5s linear forwards;
    background-color: $couleur-tertiare;
    margin: auto;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    animation-iteration-count: 1;
}

.loader{
    background-color:$couleur-tertiare;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    animation: loader-fond 2.5s linear forwards;
}