@import"../base/typographie";
    

.image-haut-restos{
    max-height: 400px;
    width:100%;
    object-fit: cover;
    position: relative;
   
}


.section-menus{

    background-color: $couleur-localisation-fond;
    top: -50px;
    margin-bottom: -50px;
    position: relative;
    border-radius: 40px 40px 0px 0px;

    @include desktop{
        width:75%;
        margin-left: 12.5%;
    }
    
   
   h2{
       font-size: 1.7em;
       padding: 20px 0px 0px 20px;
       font-family: $police-logo;
       font-weight: 500;

       @include tablette{
           text-align: center;
       }
       

   }
  
   .coeur-titre-menus{
       position: absolute;
       top: 25px;
       right: 50px;
       font-size: x-large;
       
   }

   .menus{
       a{
           text-decoration: none;
           color: black;
       }
       h3{
           padding: 30px 0 15px 15px;
           font-weight: 400;

           .trait-sous-titre{
            height: 3.5px;
            width: 45px;
            margin-top: 5px;
            background-color: $couleur-tertiare;
           }
           
       }
       h4{
           padding-bottom: 5px;
           
       }
       .texte-menus{
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: rgb(245, 245, 245);
            border-radius: 10px;    
            padding:15px 10px;
            margin: 10px;
            
            
            

            .prix-menus{
                font-weight: 600;
                               
            }

            .accompagnement-menus{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;
                justify-content: space-between;
               
                

            }
       
        }
 
       .validé{
           display: none;
       }


   }   

        .bouton-menus{
            text-align: center;
        }
       .menus-bouton{
       margin: 30px;
       padding: 15px;
       background: linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
       color: white;
       border-radius: 25px;
       font-weight: 700;
       border:none;
       box-shadow:5px 5px 10px rgb(211, 210, 210);
       
           &:hover{
               opacity: 0.8;
               cursor: pointer;
               box-shadow: 8px 8px 15px grey;
           }
       }
   


}
