/* Couleurs*/

$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiare: #99E2D0;
$couleur-localisation-fond: #eaeaea;
$couleur-localisation:#424141;
$couleur-fond: #f6f6f6;
$couleur-bouton: #f6f6f6;




/* Polices */

$police-logo: "Shrikhand", arial ,sans-serif;
$police-texte: "Roboto", arial, sans-serif;